<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>How many numbers do you wish to generate?</h1>
    <form
        action="#" 
        th:action="@{/rand/generate}"
        th:object="${generateObj}"
        method="post">
        <!-- action is for html without Thymeleaf and "#" means void -->
        <!-- th:action goes to controller @PostMapping to generate random number -->
        <!-- To use: Object passed from @Controller -->
        <!-- method="post"; to tell browser that it is a HTTP Post Protocol -->
    <p>
        <input type="text" th:field="*{numberVal}"/>
        <!-- Since we got th:object="${}" above, we can use "*{}" to equate to "${generateObj.numberVal}"  -->
        <!-- "text" inputted in field = generateObj.numberVal()  -->
        <input type="submit" value="Generate"/>
        <!-- create textbox with 'Generate' clickbox -->
        
    </p>
    </form>

    
</body>
</html>